#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

export DEB_BUILD_OPTIONS=nocheck

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

export PYTHONPATH=$(CURDIR)/debian/com.github.tenderowl.norka/usr/


%:
	dh $@ --buildsystem=meson
	
override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_install:
	dh_auto_install
	echo "\nSTART DH INSTALL\n"
	python3 -m pip install -U --prefix=$(PYTHONPATH) mistune==2.0.0a4
	echo "\nEND DH INSTALL\n"
